.wh-frame {
  width: 1400px;
  height: 800px;
}

@media (max-width: 2500px) {
  .wh-frame {
    width: 2400px;
    height: 2000px;
  }
}

@media (max-width: 1920px) {
  .wh-frame {
    width: 1100px;
    height: 750px;
  }
}

@media (max-width: 992px) {
  .wh-frame {
    width: 900px;
    height: 750px;
  }
}

@media (max-width: 768px) {
  .wh-frame {
    width: 700px;
    height: 600px;
  }
}

@media (max-width: 576px) {
  .wh-frame {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 360px) {
  .wh-frame {
    width: 250px;
    height: 200px;
  }
}

